# Gemini
GEMINI_API_KEY=

# Kakao
KAKAO_REST_API_KEY=
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# 한국관광공사
TOURISM_API_KEY=
TOURISM_BASE_URL=

# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_SERVICE_ACCOUNT_PATH=
